<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ines test Tab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tests</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Test Page Ines"></app-explore-container>
  <ion-content class="ion-padding">
    <ion-button [routerLink]="['/CameraPage']">Go to detail</ion-button>
    <br />text
  </ion-content>
</ion-content>